// -----------------------------------------------------------------------------
// This file contains very basic styles.
// -----------------------------------------------------------------------------

*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}
body{
    background: url(../../imgs/pattern-body.jpg);
    background-repeat: repeat;
    font-family: Vazir !important;
}
