// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------

//font
$font-fir: 'Fredericka the Great', cursive;

//color
$h-color: rgb(240, 238, 238);
$gray-color: gray;
$y-color: rgb(212, 156, 14);
$w-color: rgb(209, 183, 35);
$df-sadf: rgb(255, 217, 0);
$b-color: black;
$dark-color: #3b3b3b;
$o-color: rgb(255, 94, 0);